---
BasedOnStyle: WebKit
NamespaceIndentation: None
SortIncludes: 'true'
FixNamespaceComments  : 'true'
ColumnLimit : 80
AllowShortFunctionsOnASingleLine : 'true'
BreakBeforeBraces : Stroustrup
Language : Cpp
AlwaysBreakTemplateDeclarations : 'true'
...
